@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

.chat-main-box .copy-right,
.chat-main-box .copy-right a {
  opacity: 1;
  font-size: 10px;
  color: #e2e3e5;
}

main.dark .chat-main-box .copy-right,
main.dark .chat-main-box .copy-right a {
  color: #575965;
}

.chat-main-box .copy-right a:hover,
main.dark .chat-main-box .copy-right a:hover {
  color: #10b981;
}
